$colorHeader: (
    rojo: rgb(255, 0, 0),
    azul: blue,
    verde:green,
    violeta: rgb(112, 28, 108),
    negro:black,
  
);
@each $header, $color in $colorHeader {
    .header-#{$header}{
        background-color:$color;
    }
}